{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-md navbar-dark ">
    <div class="container">
        
            
            <form class="navbar-form" action="{{ url_for('select_medical') }}" method="post">
                <div class="input-group">
                    <input type="text" name="medical" class="form-control" placeholder="Select Medical">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">Update</button>
                    </div>
                </div>
            </form>
            
            <form class="navbar-form" action="{{ url_for('change_pin') }}" method="post">
                <div class="input-group">
                    <input type="text" name="new_pin" class="form-control" placeholder="Change Pin">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">Update</button>
                    </div>
                </div>
            </form>
            
        </div>

        <div>
            <!-- Your user authentication logic goes here -->
        </div>
    </div>
</nav>

<h2>Donate medical object</h2>

<form method="POST" action="{{ url_for('donate') }}" enctype="multipart/form-data" class="form-register" style="font-size:20px;text-align: left;">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <!-- Existing form fields -->
    <div class="form-group">
        <label for="equip_name">Name of equipment:</label>
        {{ form.equip_name(class="form-control") }}
        {% for error in form.equip_name.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        <label for="equip_image">Upload equipment image:</label>
        {{ form.equip_image(class="form-control-file") }}
        {% for error in form.equip_image.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        <label for="bill_image">Upload Bill image if available:</label>
        {{ form.bill_image(class="form-control-file") }}
        {% for error in form.bill_image.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
