{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}
{% block content %}
{% if current_user.is_authenticated %}
<nav class="navbar navbar-expand-md navbar-dark ">
    <div class="container">
        <form class="navbar-form" action="{{ url_for('select_pharma') }}" method="post">
            <div class="input-group">
                <input type="text" name="medical" class="form-control" placeholder="Select Medical">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">Update</button>
                </div>
            </div>
        </form>
        <form class="navbar-form" action="{{ url_for('change_pincode') }}" method="post">
            <div class="input-group">
                <input type="text" name="new_pincode" class="form-control" placeholder="Change Pin value="{{ user.pincode }}">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">Update</button>
                </div>
            </div>
            <input type="text" name="new_pincode" placeholder="New Pincode" value="{{ user.pincode }}">
            <input type="hidden" name="redirect_url" value="{{ url_for('profile_page') }}">
            <button type="submit">Change</button>
        </form>
    </div>
{% endif %}
    <div>
        <!-- Your user authentication logic goes here -->
    </div>
    </div>
</nav>

<h2>Welcome to the Home Page</h2>
<a href="{{ url_for('donate') }}">donate</a>
<br>
<a href="{{ url_for('pharma_user') }}">Users</a>
{% endblock %}