{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}
{% block content %}
<h2>Welcome to the Home Page</h2>

<!-- Form for Selecting a Medical -->
<form action="{{ url_for('select_medical') }}" method="post">
    <h3>Select Medical</h3>
    <!-- Your form fields for selecting a medical go here -->
    <input type="submit" value="Submit">
</form>

<!-- Form for Changing Pin Code -->
<form action="{{ url_for('change_pin') }}" method="post">
    <h3>Change Pin Code</h3>
    <!-- Your form fields for changing the pin code go here -->
    <input type="submit" value="Change Pin">
</form>

{% endblock %}
