{% extends 'base.html' %}
{% block title %}
Login or Sign Up For Pharmacy
{% endblock %}
{% block content %}
<div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
                    <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
                    <label for="reg-log"></label>
                    <div class="card-3d-wrap mx-auto">
                        <div class="card-3d-wrapper">
                            <div class="card-front">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <h4 class="pb-3">Log In</h4>
                                        <form action="{{ url_for('login_pharma') }}"  method="POST">
                                            {{ login_form.csrf_token }}
                                            {{ login_form.hidden_tag() }}
                                        
                                        <div class="form-group">                                            
                                            {{ login_form.email(class="form-style", placeholder="Email") }}
                                            <i class="input-icon uil uil-at"></i>
                                        </div>
                                        <div class="form-group mt-2">
                                            {{ login_form.password(class="form-style", placeholder="Password", type="password") }}
                                            <i class="input-icon uil uil-lock-alt"></i>
                                        </div>
                                        <input type="submit" class="btnn mt-4" value="Login">
                                       
                                        </form>   
                                        <!--                                   
                                            <div class="form-group mt-2">
                                                <p>Or</p>                                            
                                                <a href="#" class="btnn "><i
                                                        class="fa-brands fa-google"></i></a>
                                                <a href="#" class="btnn "><i
                                                        class="fa-brands fa-github"></i></a>
                                            </div>
                                            <p class="mb-0 mt-4 text-center"><a href="#" class="link">Forgot your password?</a>
                                            </p>-->  
                                    </div>
                                </div>
                            </div>
                            <!-- Card back (Sign Up) -->
                            <div class="card-back" >
                                <div class="center-wrap">
                                    <div class="section text-center" style="position: relative; top: -1.7cap;">
                                        <h4 class="mb-3 pb-3" >Sign Up</h4>
                                        <div style="position: relative; top: -1cap;">
                                            <form action="{{ url_for('register_pharma') }}"  method="POST">
                                                {{ register_form.csrf_token }}
                                                {{ register_form.hidden_tag() }}
                                                <div class="form-group">
                                                    {{ register_form.pharma_name(class="form-style", placeholder="pharma name") }}
                                                    <i class="input-icon uil uil-user"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    {{ register_form.license_no(class="form-style", placeholder="license_no ") }}                                                
                                                    <i class="input-icon bi bi-person-circle"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    {{ register_form.email(class="form-style", placeholder="Email") }}
                                                    <i class="input-icon uil uil-at"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    {{ register_form.pincode(class="form-style", placeholder="Pincode") }}
                                                    <i class="input-icon bi bi-geo-alt"></i>
                                                </div>
                                                <div class="form-group mt-2">                                                
                                                    {{ register_form.password(class="form-style", placeholder="Password", type="password") }}
                                                    <i class="input-icon uil uil-lock-alt"></i>
                                                </div>
                                                <div class="form-group mt-2" >
                                                    {{ register_form.cpassword(class="form-style", placeholder="Confirm password") }}
                                                    <i class="input-icon uil uil-lock-alt"></i>
                                                </div>
                                                <div class="form-group mt-2">
                                                    {{ register_form.address(class="form-style", placeholder="Address") }}                                                
                                                    <i class="input-icon bi bi-person-circle"></i>
                                                </div> 
                                                <span style="position: absolute; left: 10cap; bottom: -5.5cap;">
                                                    <input type="submit" class="btnn mt-4" value="Register">
                                                </span> 
                                            </form>
                                        </div>
                                            
                                            
                                    </div>
                                </div>
                            </div>
                            <!-- Your sign-up form HTML code goes here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
