{% extends 'base.html' %}
{% block title %}
Profile page
{% endblock %}
{% block content %}

<body>
    <h1>Pharmacy Information</h1>
    <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Full Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.pharmaid }}</td>
                <td>{{ user.pincode}}</td>
                <td>{{ user.license_no }}</td>
                <td>{{ user.pharmacy_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.address}}</td>
            </tr>
        </tbody>
    </table>
</body>

{% endblock %}