{% extends 'base.html' %}
{% block title %}
Pharmacy Home
{% endblock %}
{% block content %}
<h2>homeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</h2>

<!--
    <a href="{{ url_for('login_users') }}">Login</a>
    <a href="{{ url_for('register_user') }}">Register</a>
    <a href="{{ url_for('login_pharma') }}">Login pharma</a>
    <a href="{{ url_for('register_pharma') }}">Register pharma</a>

    <a href="{{ url_for('med_return') }}">Medicine Return</a>
    -->
<h2>Rejected requests</h2>
<table>
    <thead>
        <tr>
            <th>Request ID</th>
            <th>Prescription Name</th>
            <th>Medications</th>
            <th>Reject Reason</th>
        </tr>
    </thead>
    <tbody>
        {% for request in all_request %}
        {% if request.is_rejected == 1%}
        <tr>
            <td>{{ request.id }}</td>
            <td>{{ request.prescription_name }}</td>
            <td>{{ request.medications }}</td>
            <td>
                {{ request.reason }}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

<h2>Submission pending</h2>
<table>
    <thead>
        <tr>
            <th>Request ID</th>
            <th>Prescription Name</th>
            <th>Medications</th>
        </tr>
    </thead>
    <tbody>
        {% for request in all_request %}
        {% if request.is_approved==1 and request.points_given==0 %}
        <tr>
            <td>{{ request.id }}</td>
            <td>{{ request.prescription_name }}</td>
            <td>{{ request.medications }}</td>
            <td>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
<h2>Points Received</h2>
<table>
    <thead>
        <tr>
            <th>Request ID</th>
            <th>Prescription Name</th>
            <th>Medications</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        {% for request in all_request %}
        {% if request.is_approved==1 and request.points_given!=0 %}
        <tr>
            <td>{{ request.id }}</td>
            <td>{{ request.prescription_name }}</td>
            <td>{{ request.medications }}</td>
            <td>
                {{ request.points_given }}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

<script>
    function toggleReject(requestId) {
        const rejectBox = document.getElementById(`reject-box-${requestId}`);
        rejectBox.style.display = (rejectBox.style.display === 'none') ? 'block' : 'none';
    }
</script>
{% endblock %}